body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    color:white;
    border-radius: 5px;
    padding: 10px 40px;
}
.first-sec{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}
.first-sec img{
    width: 80%;
}
.snow-man{
    width: 50%;
    padding-left: 50px;
}
.second-sec{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.dream-big{
    width: 50%;
    padding-left: 20px;
}
.dream-big img{
    width: 80%;
}
.exercises-web{
    width: 50%;
    padding: 20px;
    
}
section{
    margin-bottom: 150px;
}
.container{
    display: flex;
    padding-left: 20px;

    
}
.font{
    font-size: 40px;
}

